remote {{ vpn_host|default('host.goes.here') }} 1194 udp
pull
tls-client
ns-cert-type server
persist-key
redirect-gateway def1
dev tun
persist-tun
comp-lzo adaptive
nobind
tls-client
resolv-retry infinite
tls-cipher TLS-ECDHE-RSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-ECDSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256
auth SHA512
verb 3
tls-version-min 1.2
auth-retry none
cipher AES-256-CBC

<ca>
{{ lookup('file', 'lib/EasyRSA-2.2.2/keys/ca.crt') }}
</ca>

<cert>
{{ lookup('file', 'lib/EasyRSA-2.2.2/keys/{{ item }}.crt') }}
</cert>

<key>
{{ lookup('file', 'lib/EasyRSA-2.2.2/keys/{{ item }}.key') }}
</key>

<tls-auth>
{{ lookup('file', 'lib/EasyRSA-2.2.2/keys/pfs.key') }}
</tls-auth>
